#logo {
	width:30px;
}
navbar-inverse .navbar-nav > li  a {
	color: white;
}

body > .container {
	padding-top: 30px;
}

#section_title {
	font-size: 20px;
	font-family: cursive;
	font-weight: 700;
	padding: 30px 0 15px;
}

.poster {
	box-shadow: 1px 2px 8px rgba(0,0,0,0.12);
	display:inline-block;
	height:231px;
	width: 154px;
	margin: 8px;
}

.modal-dialog {
	width: 100%;
	height: 100%;
	padding: 0;
	margin:0;
}

.modal-content {   
	height: 100%;
	border-radius: 0;
	overflow:auto;
	background-size:cover;
	
}

.modal-header {
	border-bottom: none;
}

.modal-body div img {
	float:left;
	margin-top: 50px;
}

.Modal-text {
	display:inline;
	color:white;
	font-size: 25px;
	position:relative;
	top: 40px;
	left: 50px;
	line-height: 1.2;
}

button.close {
	color:red;
	float:none;
}

.top-line span{
	display:inline-block;
	padding-right:80px;
}

.top-line h1{
	font-size:50px;
}


